<launch>
    <node pkg="ros_monitor" type="node_b.py" name="node_b" output="screen" />
    <node pkg="ros_monitor" type="node_c.py" name="node_c" output="screen" />
    <node pkg="ros_monitor" type="node_d.py" name="node_d" output="screen" />
    <node pkg="ros_monitor" type="node_a.py" name="node_a" output="screen" launch-prefix="bash -c 'sleep 2; $0 $@'" />
</launch>
