<?xml version="1.0"?>
<robot name="ssc_with_modular_sensors" xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:urdf="http://www.ros.org/wiki/urdf">

  <xacro:property name="M_PI" value="3.1415926535897931" />

  <xacro:include filename="$(find ssc_description)/urdf/sensors/gps_sensor.urdf.xacro" />
  
  <xacro:include filename="$(find zed_wrapper)/urdf/zed_macro.urdf.xacro" />
  
  <!-- 차량의 주요 바디를 나타내는 base_link 정의 -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0.15" rpy="0 0 0"/> <!-- 높이의 절반을 Z축 위치로 설정하여 지면 위에 위치하도록 함 -->
      <geometry>
        <box size="1.28 0.75 0.3"/> <!-- 길이 x 너비 x 높이 -->
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
  </link>

  <link name="chassis">
    <visual>
      <origin xyz="0 0 0.15" rpy="0 0 0"/>
    </visual>
  </link>

  <joint name="base_to_chassis" type="fixed">
    <parent link="base_link"/>
    <child link="chassis"/>
    <origin xyz="-0.06 0 0" rpy="0 0 0"/>  <!-- wheelbase/2 만큼 앞으로 -->
  </joint>

  <xacro:gps_sensor parent="chassis" name="gnss">
    <origin xyz="-0.2 0 0.6" rpy="0 0 0"/>
  </xacro:gps_sensor>


  <joint name="d435i_to_chassis" type="fixed">
    <parent link="chassis"/>
    <child link="camera_link"/>
    <origin xyz="0.2 0 0.45" rpy="0 0 0"/>
  </joint>

  <xacro:zed_camera name="zed" model="zed2i" enable_gnss="true">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:zed_camera>

  <joint name="zed_to_chassis" type="fixed">
    <parent link="chassis"/>
    <child link="zed_camera_link"/>
    <origin xyz="-0.2 0 0.45" rpy="0 0 0"/>
  </joint>

</robot>
