[submodule "src/sensor_pkg/ublox"]
    path = src/sensor_pkg/ublox
    url = https://github.com/DCUSnSLab/ublox.git
    branch = humble
[submodule "src/sensor_pkg/ntrip_client_ros2"]
    path = src/sensor_pkg/ntrip_client_ros2
    url = https://github.com/DCUSnSLab/ntrip_client_ros2.git
    branch = humble

#LiDAR
[submodule "src/sensor_pkg/ROS_velodyne"]
    path = src/sensor_pkg/ROS_velodyne
    url = https://github.com/DCUSnSLab/ROS_velodyne.git
    branch = ros2
[submodule "src/sensor_pkg/sllidar_ros2"]
	path = src/sensor_pkg/sllidar_ros2
	url = https://github.com/DCUSnSLab/sllidar_ros2.git
	branch = main

#IMU
[submodule "src/sensor_pkg/vectornav"]
    path = src/sensor_pkg/vectornav
    url = https://github.com/DCUSnSLab/vectornav.git
    branch = ros2
[submodule "src/sensor_pkg/iahrs_ros2"]
	path = src/sensor_pkg/iahrs_ros2
	url = https://github.com/DCUSnSLab/iAHRS_ros2.git
	branch = main

#camera
[submodule "src/sensor_pkg/zed-ros2-wrapper"]
    path = src/sensor_pkg/zed-ros2-wrapper
    url = https://github.com/DCUSnSLab/zed-ros2-wrapper.git
    branch = ros2
[submodule "src/sensor_pkg/realsense-ros"]
    path = src/sensor_pkg/realsense-ros
    url = https://github.com/DCUSnSLab/realsense-ros.git
    branch = 4.56.4
[submodule "src/sensor_pkg/usb_cam"]
    path = src/sensor_pkg/usb_cam
    url = https://github.com/DCUSnSLab/usb_cam.git

#hunter2.0
[submodule "src/vehicle/hunter_ros2"]
    path = src/vehicle/hunter_ros2
    url = https://github.com/DCUSnSLab/hunter_ros2.git
    branch = humble-devel
[submodule "src/vehicle/hunter2_description"]
	path = src/vehicle/hunter2_description
	url = https://github.com/DCUSnSLab/hunter2_description.git
	branch = humble-devel
[submodule "src/vehicle/ugv_sdk"]
    path = src/vehicle/ugv_sdk
    url = https://github.com/DCUSnSLab/ugv_sdk.git
    branch = scv-devel

#etc
[submodule "src/localization/tiny_localization"]
    path = src/localization/tiny_localization
    url = https://github.com/DCUSnSLab/tiny_localization.git
    branch = ros2-SCV
[submodule "src/command_center"]
    path = src/command_center
    url = https://github.com/DCUSnSLab/command_center.git
    branch = main
[submodule "src/perception"]
	path = src/perception
	url = https://github.com/DCUSnSLab/SCV_Perception.git
	branch = ros2_humble