<launch>
	<!-- Localization -->
	<include file="$(find hdl_localization)/launch/hdl_localization.launch"/>

    <!-- Load path data -->
    <node name="djikstra" pkg="path_planning" type="dijkstra_path.py" output="screen" >
      <param name="json_file" value="$(find path_planning)/data/path_2023-May-03-15:44:06.json" />
    </node>

	<!-- Pure pursuit -->
	<node name="pure_pursuit" pkg="scv_pure_pursuit" type="pure_pursuit_erp42.py" output="screen" />
</launch>
