<launch>
	<!-- Localization -->
	<include file="$(find hdl_localization)/launch/hdl_localization.launch" >
	    <arg name="pcd_file" value="$(find path_planning)/data/20230126_005.pcd" />
	</include>

    <!-- Load path data -->
    <node name="djikstra" pkg="path_planning" type="dijkstra_path.py" output="screen" >
      <!--<param name="json_file" value="$(find path_planning)/data/20230126_005.json" />-->
      <param name="json_file" value="$(find path_planning)/data/20230824_2.json" />
    </node>

	<!-- Pure pursuit -->
	<node name="pure_pursuit" pkg="scv_pure_pursuit" type="pure_pursuit_erp42.py" output="screen" />

	<!-- Rviz for visualize Pointcloud map and set goal point -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find scv_launch)/rviz/pure_pursuit.rviz" />
</launch>
