<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include the inertial values from the following -->
  <xacro:include filename="$(find hunter2)/urdf/inertial_macros.urdf.xacro"/> 
  <xacro:include filename="$(find hunter2)/urdf/meshes.urdf.xacro"/> 

  <!-- Constants for robot dimensions -->
  <xacro:property name="z_base_to_wheel" value="-0.19558" />
  <xacro:property name="x_base_to_rear" value="-0.28" />
  <xacro:property name="x_base_to_front" value="0.37142" />
  <xacro:property name="y_base_to_wheel" value="0.2925" />
  <xacro:property name="max_steer_angle_central" value="0.461" />

  <link name="base_link"/>

  <joint name="chassis_joint" type="fixed">
    <parent link="base_link"/>
    <child link="chassis"/>
    <origin rpy="0 0 0" xyz="0 0 0.37"/>
  </joint>

  <link name="chassis">
    <xacro:mesh name="chassis"/>
    <xacro:inertial_chassis/>
  </link>

  <link name="rear_left_wheel">
    <xacro:mesh name="rear_left_wheel"/>
    <xacro:inertial_wheel/>
  </link>
  <joint name="rear_left_wheel_joint" type="continuous">
    <parent link="chassis"/>
    <child link="rear_left_wheel"/> 
    <origin xyz="${x_base_to_rear} ${y_base_to_wheel} ${z_base_to_wheel}" rpy="${pi/2} 0 0" />
    <axis xyz="0 0 -1" />
    <dynamics damping="0.2" friction="15"/> 
    <limit effort="10.0" velocity="10.0"/>
  </joint>
  <xacro:gazebo_friction reference="rear_left_wheel"/>

  <link name="rear_right_wheel">
    <xacro:mesh name="rear_right_wheel"/>
    <xacro:inertial_wheel/>
  </link>
  <joint name="rear_right_wheel_joint" type="continuous">
    <parent link="chassis"/>
    <child link="rear_right_wheel"/> 
    <origin xyz="${x_base_to_rear} -${y_base_to_wheel} ${z_base_to_wheel}" rpy="${pi/2} 0 0" />
    <axis xyz="0 0 -1"/>
    <dynamics damping="0.2" friction="15"/> 
    <limit effort="10.0" velocity="10.0"/>
    <mimic joint="rear_left_wheel_joint" multiplier="1.0" offset="0.0"/>
  </joint>
  <xacro:gazebo_friction reference="rear_right_wheel"/>

  <link name="front_left_steering_link">
    <xacro:virtual/>
    <xacro:inertial_steering_link/>
  </link>
  <joint name="front_left_steering_joint" type="revolute">
    <parent link="chassis"/>
    <child link="front_left_steering_link"/> 
    <origin xyz="${x_base_to_front} ${y_base_to_wheel} ${z_base_to_wheel}" rpy="${pi/2} 0 0" />
    <axis   xyz="0 1 0" />
    <limit  lower="-${max_steer_angle_central}"  upper="${max_steer_angle_central}"  effort="10.0"  velocity="1" />
    <dynamics damping="0.2"/>
  </joint>

  <link name="front_left_wheel">
    <xacro:mesh name="front_left_wheel"/>
    <xacro:inertial_wheel/>
  </link>
  <joint name="front_left_wheel_joint" type="continuous">
    <parent link="front_left_steering_link"/>
    <child link="front_left_wheel"/> 
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis   xyz="0 0 -1" />
    <mimic joint="rear_left_wheel_joint" multiplier="1.0" offset="0.0"/>
  </joint>

  <link name="front_right_steering_link">
    <xacro:virtual/>
    <xacro:inertial_steering_link/>
  </link>
  <joint name="front_right_steering_joint" type="revolute">
    <parent link="chassis"/>
    <child link="front_right_steering_link"/> 
    <origin xyz="${x_base_to_front}  -${y_base_to_wheel} ${z_base_to_wheel}" rpy="${pi/2} 0 0" />
    <axis   xyz="0 1 0" />
    <limit  lower="-${max_steer_angle_central}"  upper="${max_steer_angle_central}"  effort="10.0"  velocity="1" />
    <dynamics damping="0.2"/>
    <mimic joint="front_left_steering_joint" multiplier="1.0" offset="0.0"/>
  </joint>
  
  <link name="front_right_wheel">
    <xacro:mesh name="front_right_wheel"/>
    <xacro:inertial_wheel/>
  </link>
  <joint name="front_right_wheel_joint" type="continuous">
    <parent link="front_right_steering_link"/>
    <child link="front_right_wheel"/> 
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis   xyz="0 0 -1" />
    <mimic joint="rear_left_wheel_joint" multiplier="1.0" offset="0.0"/>
  </joint>

</robot>