<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>

    <joint name="front_left_steering_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="front_right_steering_joint">
      <param name="mimic">front_left_steering_joint</param>
      <param name="multiplier">1</param>
      <state_interface name="position"/>
    </joint>

    <joint name="rear_left_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>
    <joint name="rear_right_wheel_joint">
      <param name="mimic">rear_left_wheel_joint</param>
      <param name="multiplier">1</param>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>

    <joint name="front_right_wheel_joint">
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>
    <joint name="front_left_wheel_joint">
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>

    <!-- Add back_box prismatic joint control -->
    <joint name="back_box_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    
  </ros2_control>
  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(find hunter2)/config/ackermann_like_controller.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
