<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <xacro:macro name="mesh" params="name">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/> 
      <geometry>
        <mesh filename="file://$(find hunter2)/meshes/${name}.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/> 
      <geometry>
        <mesh filename="file://$(find hunter2)/meshes/${name}.dae" />
      </geometry>
    </collision>
  </xacro:macro>

  <xacro:macro name="virtual">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/> 
      <geometry>
        <cylinder length="0.01" radius="0.01"/>
      </geometry>
      <material name="invisible">
        <color rgba="0.0 0.0 0.0 0.0"/>
      </material>
    </visual>
  </xacro:macro>

  <xacro:macro name="gazebo_friction" params="reference">
    <gazebo reference="${reference}">
      <mu1 value="1.0"/>
      <mu2 value="0.5"/>
      <kp value="10000000.0" />
      <kd value="1.0" />
      <fdir1 value="1 0 0"/>
    </gazebo>
  </xacro:macro>

</robot>