<?xml version="1.0"?>
<robot name="hunter_with_modular_sensors" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.1415926535897931" />
  
  <!-- GPS reference coordinates parameters -->
  <xacro:arg name="gps_latitude" default="37.5665"/>
  <xacro:arg name="gps_longitude" default="126.9780"/>
  <xacro:arg name="gps_altitude" default="50.0"/>
  
  <xacro:property name="gps_ref_lat" value="$(arg gps_latitude)"/>
  <xacro:property name="gps_ref_lon" value="$(arg gps_longitude)"/>
  <xacro:property name="gps_ref_alt" value="$(arg gps_altitude)"/>

  <!-- Include the original hunter description -->
  <xacro:include filename="$(find hunter2)/urdf/robot_core.urdf.xacro" />
  
  <!-- Include ROS2 control for Hunter robot -->
  <xacro:include filename="$(find hunter2)/urdf/ros2_control.urdf.xacro" />
  
  <!-- Include sensor definitions -->
  <xacro:include filename="$(find hunter2)/urdf/sensors/gps_sensor.urdf.xacro" />
  <xacro:include filename="$(find hunter2)/urdf/sensors/vlp32c_lidar.urdf.xacro" />
  <xacro:include filename="$(find hunter2)/urdf/sensors/vn_100.urdf.xacro" />

  <xacro:include filename="$(find zed_wrapper)/urdf/zed_macro.urdf.xacro" />

  
  <!-- Add front box with STL mesh -->
  <link name="front_box">
    <visual>
      <origin xyz="0 0 0" rpy="${M_PI} 0 ${M_PI/2}"/>
      <geometry>
        <mesh filename="file://$(find hunter2)/meshes/front_box.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="blue">
        <color rgba="1.0 0.95 0.9 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.4 0.3 0.2"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="3.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>

  <joint name="front_box_joint" type="fixed">
    <parent link="chassis"/>
    <child link="front_box"/>
    <origin xyz="0.343 0 0.137" rpy="0 0 0"/>
  </joint>

  <!-- Add back box with STL mesh -->
  <link name="back_box">
    <visual>
      <origin xyz="0.127 0.18 0.092" rpy="0 0 ${M_PI/2}"/> <!-- 우측 하단 모서리 -->
      <geometry>
        <mesh filename="file://$(find hunter2)/meshes/back_box.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="red">
        <color rgba="1.0 0.95 0.9 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.127 0.18 0.092" rpy="0 0 0"/>
      <geometry>
        <box size="0.5 0.364 0.186"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.127 0.18 0.092" rpy="0 0 0"/>
      <mass value="5.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>

  <!-- Back box prismatic joint - X axis negative direction only -->
  <joint name="back_box_joint" type="fixed">
    <parent link="chassis"/>
    <child link="back_box"/>
    <origin xyz="-0.35 -0.185 0" rpy="0 0 0"/>
  </joint>

  <!-- Use VLP-32C LiDAR on front box -->
  <xacro:vlp32c_lidar parent="front_box" name="velodyne" topic="/velodyne_points">
    <origin xyz="-0.036 0 0.162" rpy="0 0 0"/>
  </xacro:vlp32c_lidar>

  <!-- Use GPS sensor on back box -->
  <xacro:gps_sensor parent="back_box" name="gnss">
    <origin xyz="0.41 0.19 0.277" rpy="0 0 0"/>
  </xacro:gps_sensor>

  <xacro:imu_sensor parent="back_box" name="imu">
    <origin xyz="0.29 0.19 0.2" rpy="0 0 0"/>
  </xacro:imu_sensor>

  <xacro:zed_camera name="zed" model="zed2i" enable_gnss="true">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:zed_camera>

  <joint name="zed_to_front_box" type="fixed">
    <parent link="front_box"/>
    <child link="zed_camera_link"/>
    <origin xyz="0.18 0 -0.05" rpy="0 0 0"/>
  </joint>

</robot>
