<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- VLP-32C LiDAR Sensor Macro -->
  <xacro:property name="M_PI" value="3.1415926535897931" />

  <xacro:macro name="vlp32c_lidar" params="parent:=base_link name:=velodyne topic:=/velodyne_points *origin">

    <!-- VLP-32C base mount joint -->
    <joint name="${name}_base_mount_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}_base_link"/>
    </joint>

    <!-- VLP-32C base link -->
    <link name="${name}_base_link">
      <inertial>
        <mass value="0.925"/>
        <origin xyz="0 0 0.04345"/>
        <inertia ixx="${(0.925 * (3.0*0.0515*0.0515 + 0.0869*0.0869)) / 12.0}" 
                ixy="0" 
                ixz="0"
                iyy="${(0.925 * (3.0*0.0515*0.0515 + 0.0869*0.0869)) / 12.0}" 
                iyz="0" 
                izz="${0.5 * 0.925 * (0.0515*0.0515)}"/>
      </inertial>
      
      <visual>
        <origin xyz="0 0 0" rpy="${M_PI/2} 0 0"/>
        <geometry>
          <mesh filename="file://$(find hunter2)/meshes/VLP-32C.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="light_grey">
          <color rgba="0.7 0.7 0.7 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0.04345"/>
        <geometry>
          <cylinder radius="0.0515" length="0.0717"/>
        </geometry>
      </collision>
    </link>

    <!-- VLP-32C sensor joint -->
    <joint name="${name}_base_link_joint" type="fixed">
      <origin xyz="0 0 0.0377" rpy="0 0 0" />
      <parent link="${name}_base_link" />
      <child link="${name}" />
    </joint>

    <!-- VLP-32C sensor link -->
    <link name="${name}">
      <inertial>
        <mass value="0.01"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="1e-7" ixy="0" ixz="0" iyy="1e-7" iyz="0" izz="1e-7"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.0005" length="0.001"/>
        </geometry>
      </visual>
    </link>

  </xacro:macro>

</robot>
